<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" [formGroup]="form" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="id">{{ l('EditCategorySalary') }}</span>
                        <span *ngIf="!id">{{ l('CreateNewCategorySalary') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="EmployeeLevelName">{{ l('EmployeeLevel') }}</label>
                        <select name="employeeLevelId" formControlName="employeeLevelId"
                            class="form-select" required>
                            <option value="">{{ l('SelectAEmployeeLevel') }}</option>
                            <option *ngFor="let item of allEmployeeLevels" value="{{ item.id }}">
                                {{ item.displayName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="CategorySalary_Salary">{{ l('Salary') }}</label>
                        <input type="number" #CategorySalary_Salary id="CategorySalary_Salary"
                            class="form-control" formControlName="salary" name="Salary" />
                        <validation-messages [formCtrl]="CategorySalary_Salary"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="CategorySalary_Category">{{ l('Category') }}</label>
                        <select class="form-select" #CategorySalary_Category name="Category"
                            id="CategorySalary_Category" formControlName="category">

                            <option *ngFor="let item of allCategories" value="{{ item.id }}">
                                {{ item.displayName }}
                            </option>
                            <!-- <option value="0">{{ l('Permanent') }}</option>

                            <option value="1">{{ l('Temporary') }}</option>

                            <option value="2">{{ l('ChildDevelopment') }}</option>

                            <option value="3">{{ l('Donation') }}</option>

                            <option value="4">{{ l('Helper') }}</option>

                            <option value="5">{{ l('Contract') }}</option> -->
                        </select>
                        <validation-messages [formCtrl]="CategorySalary_Category"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="CategorySalary_TechnicalAmount">{{ l('TechnicalAmount') }}</label>
                        <input type="number" #CategorySalary_TechnicalAmount
                            id="CategorySalary_TechnicalAmount" class="form-control"
                            formControlName="technicalAmount" name="TechnicalAmount" />
                        <validation-messages [formCtrl]="CategorySalary_TechnicalAmount"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>