<div>
    <sub-header [title]="'Generate Salary'"></sub-header>
    <div [class]="containerClass">
        <div class="card card-bordered p-4">
            <form [formGroup]="form">
                <div>
                    <div class="row">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5">
                            <label class="form-label" for="schoolIds">Schools</label>
                            <ng-select [items]="schools" bindLabel="displayName" bindValue="id" [multiple]="true"
                                formControlName="schoolIds" id="schoolIds"></ng-select>
                        </div>
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5">
                            <label class="form-label" for="Months">Months</label>
                            <ng-select [items]="allMonths" bindLabel="displayName" bindValue="id" [multiple]="true"
                                [closeOnSelect]="false" formControlName="months" id="months"></ng-select>
                        </div>
                        <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 mt-8">
                            <button (click)="GetData()" class="btn btn-primary blue">
                                <span>{{ l('Get') }}</span>
                            </button>
                        </div>
                        <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 mt-8">
                            <button (click)="GetExcel()" class="btn btn-primary blue">                                
                                <span>{{ l('Excel') }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                {{ form.value | json }}
            </form>

            <!-- stock report show  -->
            <div class="overflow-x-auto">
                <table class="table table-row-dashed table-row-gray-300 table-striped">
                    <thead>
                        <tr class=" bg-tableHead text-center">
                            <th><b>SN.</b></th>
                            <th><b>School Level</b></th>
                            <th><b>School Name</b></th>
                            <th><b>Employee Type</b></th>
                            <th><b>Employee Level</b></th>
                            <th><b>Employee Name</b></th>
                            <th><b>Basic Salary</b></th>
                            <th><b>Grade</b></th>
                            <th><b>Grade Rate</b></th>
                            <th><b>Grade Amount</b></th>
                            <th><b>Technical Grade Amount</b></th>
                            <th><b>Total Grade Amount</b></th>
                            <th><b>Total</b></th>
                            <th><b>EPF Amount</b></th>
                            <th><b>Insurance Amount</b></th>
                            <th><b>Total Salary</b></th>
                            <th><b>Inflation Allowance</b></th>
                            <th><b>Principal Allowance</b></th>
                            <th><b>Total Salary Amount</b></th>
                            <th><b>Month</b></th>
                            <th><b>Month Name</b></th>
                            <th><b>Total For All Months</b></th>
                            <th><b>Festival Allowance</b></th>
                            <th><b>Total With Allowance for all months</b></th>
                            <th><b>Internal Amount</b></th>
                            <th><b>TotalPaidAmount</b></th>
                            <th><b>Remarks</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of data; let i = index" class="text-center">                            
                            <td><p>{{i+1}}</p></td>
                            <td>
                                <p>{{ row.schoolLevel }}</p>
                            </td>
                            <td>
                                {{ row.schoolName }}
                            </td>
                            <td>
                                {{ row.employeeType }}
                            </td>
                            <td>
                                {{ row.employeeLevel }}
                            </td>
                            <td>
                                {{ row.employeeName }}
                            </td>
                            <td>
                                {{ row.basicSalary | number }}
                            </td>
                            <td>
                                {{ row.grade }}
                            </td>
                            <td>
                                {{ row.gradeRate }}
                            </td>
                            <td>
                                {{ row.gradeAmount | number }}
                            </td>
                            <td>
                                {{ row.technicalGradeAmount | number }}
                            </td>
                            <td>
                                {{ row.totalGradeAmount | number }}
                            </td>
                            <td>
                                {{ row.total | number }}
                            </td>
                            <td>
                                {{ row.epfAmount | number }}
                            </td>
                            <td>
                                {{ row.insuranceAmount | number }}
                            </td>
                            <td>
                                {{ row.totalSalary | number }}
                            </td>
                            <td>
                                {{ row.inflationAllowance | number }}
                            </td>
                            <td>
                                {{ row.principalAllowance | number }}
                            </td>
                            <td>
                                {{ row.totalSalaryAmount | number }}
                            </td>
                            <td>
                                {{ row.month | number }}
                            </td>
                            <td>
                                {{ row.monthNames }}
                            </td>
                            <td>
                                {{ row.totalForAllMonths | number }}
                            </td>
                            <td>
                                {{ row.festivalAllowance | number }}
                            </td>
                            <td>
                                {{ row.totalWithAllowanceForAllMonths | number }}
                            </td>
                            <td>
                                {{ row.internalAmount | number }}
                            </td>
                            <td>
                                {{ row.totalPaidAmount | number }}
                            </td>
                            <td>
                                {{ row.remarks }}
                            </td>
                        </tr>

                        <tr *ngIf="!data || !data.length">
                            <td>No Results Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>





        </div>
    </div>
</div>