<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" [formGroup]="form" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="id">{{l("EditGradeUpgrade")}}</span>
						<span *ngIf="!id">{{l("CreateNewGradeUpgrade")}}</span>
					</h4>

					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>


				</div>
				<div class="modal-body">


					<div class="form-group m-form__group">
						<label for="EmployeeName">{{l("Employee")}}</label>
						<select name="employeeId" formControlName="employeeId" class="form-select">
							<option value="">{{l("SelectAEmployee")}}</option>
							<option *ngFor="let item of allEmployees" value="{{item.id}}">{{item.displayName}}</option>
						</select>
					</div>



					<div class="form-group">
						<label for="GradeUpgrade_DateMiti">{{l("DateMiti")}}</label>
						<npdual-datepicker [formControl]="form.controls['dateMiti']" id="dateMiti"></npdual-datepicker>

						<div *ngIf="
                      this.form.get('dateMiti').invalid &&
                      (this.form.get('dateMiti').dirty || this.form.get('dateMiti').touched)
                    ">
							<div class="alert alert-danger alert-height mt-1" role="alert">
								<div class="alert-div">DateMiti is required!</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="GradeUpgrade_Grade">{{l("Grade")}}</label>
						<select class="form-select" #GradeUpgrade_Grade name="Grade" id="GradeUpgrade_Grade"
							formControlName="grade">
							<option value="1">{{l('One')}}</option>

							<option value="2">{{l('Two')}}</option>

							<option value="3">{{l('Three')}}</option>

							<option value="4">{{l('Four')}}</option>

							<option value="5">{{l('Five')}}</option>

							<option value="6">{{l('Six')}}</option>

							<option value="7">{{l('Seven')}}</option>

							<option value="8">{{l('Eight')}}</option>


						</select>
						<validation-messages [formCtrl]="GradeUpgrade_Grade"></validation-messages>
					</div>

					<div class="form-group">
						<label for="GradeUpgrade_Remarks">{{l("Remarks")}}</label>
						<input type="text" #GradeUpgrade_Remarks id="GradeUpgrade_Remarks" class="form-control"
							formControlName="remarks" name="Remarks" />
						<validation-messages [formCtrl]="GradeUpgrade_Remarks"></validation-messages>
					</div>



				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="btn btn-default"
						(click)="close()">{{l("Cancel")}}</button>
					<button type="submit" class="btn btn-primary blue" (click)="save()" [disabled]="!form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
						<span>{{l("Save")}}</span></button>
				</div>
			</form>
		</div>
	</div>

</div>