<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="('Employees' | localize) + ' ' + ('Details' | localize)"
            [breadcrumbs]="breadcrumbs"
        ></sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form-group m-form__group">
                        <label for="EmployeeLevelName">{{ l('EmployeeLevel') }}</label>
                        <select
                            name="employee.employeeLevelId"
                            [(ngModel)]="employee.employeeLevelId"
                            class="form-select"
                            required
                        >
                            <option value="">{{ l('SelectAEmployeeLevel') }}</option>
                            <option *ngFor="let item of allEmployeeLevels" value="{{ item.id }}">
                                {{ item.displayName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group m-form__group">
                        <label for="SchoolInfoName">{{ l('SchoolInfo') }}</label>
                        <select name="employee.schoolInfoId" [(ngModel)]="employee.schoolInfoId" class="form-select">
                            <option value="">{{ l('SelectASchoolInfo') }}</option>
                            <option *ngFor="let item of allSchoolInfos" value="{{ item.id }}">
                                {{ item.displayName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Category">{{ l('Category') }}</label>
                        <select
                            #Employee_Category="ngModel"
                            class="form-select"
                            name="Category"
                            id="Employee_Category"
                            [(ngModel)]="employee.category"
                        >
                            <option value="0">{{ l('Permanent') }}</option>

                            <option value="1">{{ l('Temporary') }}</option>

                            <option value="2">{{ l('ChildDevelopment') }}</option>

                            <option value="3">{{ l('Donation') }}</option>

                            <option value="4">{{ l('Helper') }}</option>

                            <option value="5">{{ l('Contract') }}</option>
                        </select>
                        <validation-messages [formCtrl]="Employee_Category"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Grade">{{ l('Grade') }}</label>
                        <select
                            #Employee_Category="ngModel"
                            class="form-select"
                            name="Grade"
                            id="Employee_Grade"
                            [(ngModel)]="employee.grade"
                        >
                            <option value="2">{{ l('Two') }}</option>

                            <option value="3">{{ l('Three') }}</option>

                            <option value="4">{{ l('Four') }}</option>

                            <option value="5">{{ l('Five') }}</option>

                            <option value="6">{{ l('Six') }}</option>

                            <option value="7">{{ l('Seven') }}</option>
                            <option value="7">{{ l('Eight') }}</option>
                        </select>
                        <validation-messages [formCtrl]="Employee_Category"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_ProvidentFund">{{ l('ProvidentFund') }}</label>
                        <input
                            type="text"
                            #Employee_ProvidentFund="ngModel"
                            id="Employee_ProvidentFund"
                            class="form-control"
                            [(ngModel)]="employee.providentFund"
                            name="ProvidentFund"
                        />
                        <validation-messages [formCtrl]="Employee_ProvidentFund"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_PanNo">{{ l('PanNo') }}</label>
                        <input
                            type="text"
                            #Employee_PanNo="ngModel"
                            id="Employee_PanNo"
                            class="form-control"
                            [(ngModel)]="employee.panNo"
                            name="PanNo"
                        />
                        <validation-messages [formCtrl]="Employee_PanNo"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_InsuranceNo">{{ l('InsuranceNo') }}</label>
                        <input
                            type="text"
                            #Employee_InsuranceNo="ngModel"
                            id="Employee_InsuranceNo"
                            class="form-control"
                            [(ngModel)]="employee.insuranceNo"
                            name="InsuranceNo"
                        />
                        <validation-messages [formCtrl]="Employee_InsuranceNo"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Name">{{ l('Name') }}</label>
                        <input
                            type="text"
                            #Employee_Name="ngModel"
                            id="Employee_Name"
                            class="form-control"
                            [(ngModel)]="employee.name"
                            name="Name"
                        />
                        <validation-messages [formCtrl]="Employee_Name"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_BankName">{{ l('BankName') }}</label>
                        <input
                            type="text"
                            #Employee_BankName="ngModel"
                            id="Employee_BankName"
                            class="form-control"
                            [(ngModel)]="employee.bankName"
                            name="BankName"
                        />
                        <validation-messages [formCtrl]="Employee_BankName"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_BankAccountNo">{{ l('BankAccountNo') }}</label>
                        <input
                            type="text"
                            #Employee_BankAccountNo="ngModel"
                            id="Employee_BankAccountNo"
                            class="form-control"
                            [(ngModel)]="employee.bankAccountNo"
                            name="BankAccountNo"
                        />
                        <validation-messages [formCtrl]="Employee_BankAccountNo"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_PansionMiti">{{ l('PansionMiti') }}</label>
                        <input
                            type="text"
                            #Employee_PansionMiti="ngModel"
                            id="Employee_PansionMiti"
                            class="form-control"
                            [(ngModel)]="employee.pansionMiti"
                            name="PansionMiti"
                        />
                        <validation-messages [formCtrl]="Employee_PansionMiti"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_DateOfJoinMiti">{{ l('DateOfJoinMiti') }}</label>
                        <input
                            type="text"
                            #Employee_DateOfJoinMiti="ngModel"
                            id="Employee_DateOfJoinMiti"
                            class="form-control"
                            [(ngModel)]="employee.dateOfJoinMiti"
                            name="DateOfJoinMiti"
                        />
                        <validation-messages [formCtrl]="Employee_DateOfJoinMiti"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="Employee_IsDearnessAllowance" class="kt-checkbox">
                            <input
                                #Employee_IsDearnessAllowance="ngModel"
                                id="Employee_IsDearnessAllowance"
                                type="checkbox"
                                name="IsDearnessAllowance"
                                [(ngModel)]="employee.isDearnessAllowance"
                            />
                            {{ l('IsDearnessAllowance') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="Employee_IsDearnessAllowance"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="Employee_IsPrincipal" class="kt-checkbox">
                            <input
                                #Employee_IsPrincipal="ngModel"
                                id="Employee_IsPrincipal"
                                type="checkbox"
                                name="IsPrincipal"
                                [(ngModel)]="employee.isPrincipal"
                            />
                            {{ l('IsPrincipal') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="Employee_IsPrincipal"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="Employee_IsGovernment" class="kt-checkbox">
                            <input
                                #Employee_IsGovernment="ngModel"
                                id="Employee_IsGovernment"
                                type="checkbox"
                                name="IsGovernment"
                                [(ngModel)]="employee.isGovernment"
                            />
                            {{ l('IsGovernment') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="Employee_IsGovernment"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="Employee_IsInternal" class="kt-checkbox">
                            <input
                                #Employee_IsInternal="ngModel"
                                id="Employee_IsInternal"
                                type="checkbox"
                                name="IsInternal"
                                [(ngModel)]="employee.isInternal"
                            />
                            {{ l('IsInternal') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="Employee_IsInternal"></validation-messages>
                    </div>
                    <br />
                    <div class="m-checkbox-list">
                        <label for="Employee_IsTechnical" class="kt-checkbox">
                            <input
                                #Employee_IsTechnical="ngModel"
                                id="Employee_IsTechnical"
                                type="checkbox"
                                name="IsTechnical"
                                [(ngModel)]="employee.isTechnical"
                            />
                            {{ l('IsTechnical') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="Employee_IsTechnical"></validation-messages>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-lg-12">
                        <button
                            (click)="save()"
                            class="btn btn-primary blue float-right"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                        >
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button
                            *ngIf="!this.employee.id"
                            (click)="saveAndNew()"
                            class="btn btn-primary blue float-right"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                        >
                            <i class="fa fa-save"></i>
                            <span>{{ l('SaveAndNew') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
