@font-face {
	font-family: 'ProximaNova';
	src:url('./fonts/ProximaNova-Regular.otf');
	
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src:url('./fonts/Proxima Nova Bold.otf');
	
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src:url('./fonts/Proxima Nova Alt Light.otf');
	
	font-weight: 300;
	font-style: normal;
}